.card-back-1 {
	background:
		  32px 32px/calc(2*32px) calc(2*32px) conic-gradient(at calc(500%/6) 50%,hsl(var(--pattern-bg) / 1) 25%,#0000 0),0 0/calc(2*32px) calc(2*32px) conic-gradient(at calc(500%/6) 50%,hsl(var(--pattern-bg) / 1) 25%,#0000 0),
		  32px 32px/calc(2*32px) calc(2*32px) conic-gradient(at calc(200%/3) 50%,hsl(var(--pattern-color-2) / 1) 25%,#0000 0),0 0/calc(2*32px) calc(2*32px) conic-gradient(at calc(200%/3) 50%,hsl(var(--pattern-color-2) / 1) 25%,#0000 0),
		  repeating-conic-gradient(hsl(var(--pattern-color-1) / 1) 0 25%,#0000 0 50%) 0 0/calc(2*32px) calc(2*32px),
		  linear-gradient(hsl(var(--pattern-color-1) / 1) calc(100%/3),hsl(var(--pattern-color-2) / 1) 0 calc(200%/3),hsl(var(--pattern-bg) / 1) 0)
		   0 0/32px 32px;
}

.card-back-2 {
	background:
		  conic-gradient(at 16px calc(100% - 16px),#0000 270deg,hsl(var(--pattern-color-1) / 1) 0) calc(16px + 12px) 0,
		  linear-gradient(hsl(var(--pattern-color-2) / 1) 16px,#0000 0) 0 12px,
		  conic-gradient(at 16px calc(100% - 16px),#0000 90deg,hsl(var(--pattern-color-2) / 1) 0 180deg, hsl(var(--pattern-color-1) / 1) 0),
		  hsl(var(--pattern-bg) / 1);
	background-size: calc(2*(16px + 12px)) calc(2*(16px + 12px));
}

.card-back-3 {
	background:
		  conic-gradient(at 50% calc(100%/6),hsl(var(--pattern-color-1) / 1) 60deg,#0000 0),
		  conic-gradient(at calc(100%/6) 50%,#0000 240deg,hsl(var(--pattern-color-1) / 1) 0),
		  conic-gradient(from 180deg at calc(100%/6) calc(500%/6),hsl(var(--pattern-color-1) / 1) 60deg,#0000 0),
		  conic-gradient(from 180deg at calc(500%/6),#0000 240deg,hsl(var(--pattern-color-1) / 1) 0) calc(4*.866*16px) 0,
		  repeating-linear-gradient(-150deg,hsl(var(--pattern-color-2) / 1) 0 calc(100%/6),#0000   0 50%),
		  repeating-linear-gradient(-30deg, #fff 0 calc(100%/6),hsl(var(--pattern-bg) / 1) 0 50%);
	background-size: calc(6*.866*16px) calc(3*16px);
}
